@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
button {
  background-color: white;
}

button:hover {
  background-color: #ccddeb;
  border-radius: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
  background-color: #e0e0e0;
  border: 1px solid #c0c0c0;
}

.grid input {
  border: 1px solid #c0c0c0;
  padding: 8px;
  text-align: left;
  background-color: #ffffff;
  height: 40px;
  box-sizing: border-box;
}

.grid input:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.grid input:focus {
  outline: none;
  border-color: #007bff;
}
